@font-face {
  font-family: "UniNeueRegular";
  src: url(../fonts/UniNeueRegular/UniNeueRegular.eot);
  src: url(../fonts/UniNeueRegular/UniNeueRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/UniNeueRegular/UniNeueRegular.woff) format("woff"), url(../fonts/UniNeueRegular/UniNeueRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "UniNeueHeavy";
  src: url(../fonts/UniNeueHeavy/UniNeueHeavy.eot);
  src: url(../fonts/UniNeueHeavy/UniNeueHeavy.eot?#iefix) format("embedded-opentype"), url(../fonts/UniNeueHeavy/UniNeueHeavy.woff) format("woff"), url(../fonts/UniNeueHeavy/UniNeueHeavy.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "UniNeueBook";
  src: url(../fonts/UniNeueBook/UniNeueBook.eot);
  src: url(../fonts/UniNeueBook/UniNeueBook.eot?#iefix) format("embedded-opentype"), url(../fonts/UniNeueBook/UniNeueBook.woff) format("woff"), url(../fonts/UniNeueBook/UniNeueBook.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// fonts
$font-header: 'UniNeueHeavy';
$font-header-regular: 'UniNeueRegular';
$font-stack: 'OpenSansRegular';
$font-stack-bold: 'OpenSansSemiBold';

// colors
$accent-indigo: #4B5BEB;
$accent-green: #2A9D8F;
$primary-color: #233755;
$secondary-color: #899DB7;
$tertuary-color: #BDCBDE;
$border-color: #EBF2FB;
$background: linear-gradient(180deg, rgba(247, 249, 252, 0) 0%, #F7F9FC 12.5%, #F7F9FC 100%);
$background-card: #FFFFFF;
$background-secondary: #F7F9FC;
$gradient-indigo: linear-gradient(180deg, #4B5BEB 0%, #3540D7 100%);
$warning-color: #760520;

// shadows for box-shadow
$medium-shadow:  0px 20px 19px rgba(212, 214, 231, 0.11);
$divider-nav: inset 0px -1px 0px #EBF2FB;
$medium-hover: 0px 6px 15px rgba(179, 182, 211, 0.19), 0px 16px 29px rgba(103, 106, 139, 0.07);

// icons
$logged: url('../icons/Logged.svg');
$logged-white: url('../icons/Logged-white.svg');

$right:url('../icons/Right.svg');
$right-white:url('../icons/Right-white.svg');

$catalog:url('../icons/Catalog.svg');
$catalog-white:url('../icons/Catalog-white.svg');

$auth:url('../icons/Auth.svg');

// Styles for text
h1 {
  font-size: 48px;
  font-family: $font-header;
  font-weight: 700;
  color: $primary-color;
}

h2 {
  font-size: 34px;
  font-family: $font-header;
}

h3 {
  font-size: 22px;
  font-family: $font-header;
}

.subtitle {
  font-size: 18px;
  font-family: $font-header;

}

.nav-button-etc {
  font-size: 16px;
  font-family: $font-stack-bold;
}

.description-lato {
  font-size: 16px;
  font-family: $font-stack;
}

.smaller-lato {
  font-size: 12px;
  font-family: $font-stack-bold;
}

.caption {
  font-size: 14px;
  font-family: $font-stack-bold;
}

// styles for button
.btn-primary {
  padding: 16px 22px;
  border: 1px solid $accent-indigo;
  background: $accent-indigo;
  border-radius: 12px;
  color: #fff;
  font-family: $font-stack-bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #FFFFFF;
  border: 1px solid $accent-indigo;
  box-sizing: border-box;
  border-radius: 12px;
  color: $accent-indigo;
  transition: 0.3s;
}

.btn-secondary {
  padding: 16px 22px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: $font-stack-bold;
  color: $accent-indigo;
  transition: 0.3s;
}

.btn-secondary:hover {
  border: 1px solid $accent-indigo;
  transition: 0.3s;
}

.btn-deactivate {
  padding: 16px 22px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: $font-stack-bold;
  color: $secondary-color;
}

.btn-deactivate:hover {
  cursor: not-allowed;
}

.btn-auth-primary {
  padding: 16px 22px;
  border: 1px solid $accent-indigo;
  background: $accent-indigo;
  border-radius: 12px;
  color: #fff;
  font-family: $font-stack-bold;
  transition: 0.3s;
}

.btn-auth-primary::after {
  content: $logged-white;
  position: relative;
  top: 7px;
  left: 5px;
}

.btn-auth-primary:hover {
  background: #FFFFFF;
  border: 1px solid $accent-indigo;
  box-sizing: border-box;
  border-radius: 12px;
  color: $accent-indigo;
  transition: 0.3s;
}

.btn-auth-primary:hover::after {
  content: $logged;
}

.btn-auth-secondary {
  padding: 16px 22px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: $font-stack-bold;
  color: $accent-indigo;
  transition: 0.3s;
}

.btn-auth-secondary::after {
  content: $logged;
  position: relative;
  top: 7px;
  left: 5px;
}

.btn-auth-secondary:hover {
  border: 1px solid $accent-indigo;
  transition: 0.3s;
}

.btn-reg-primary {
  padding: 16px 22px;
  border: 1px solid $accent-indigo;
  background: $accent-indigo;
  border-radius: 12px;
  color: #fff;
  font-family: $font-stack-bold;
  transition: 0.3s;
}

.btn-reg-primary::after {
  content: $right-white;
  position: relative;
  top: 7px;
  left: 5px;
}

.btn-reg-primary:hover {
  background: #FFFFFF;
  border: 1px solid $accent-indigo;
  box-sizing: border-box;
  border-radius: 12px;
  color: $accent-indigo;
  transition: 0.3s;
}

.btn-reg-primary:hover::after {
  content: $right;
}

.btn-reg-secondary {
  padding: 16px 22px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: $font-stack-bold;
  color: $accent-indigo;
  transition: 0.3s;
}

.btn-reg-secondary::after {
  content: $right;
  position: relative;
  top: 7px;
  left: 5px;
}

.btn-reg-secondary:hover {
  border: 1px solid $accent-indigo;
  transition: 0.3s;
}

.btn-catalog {
  padding: 20px 36px;
  border: 1px solid $accent-indigo;
  background: $gradient-indigo;
  border-radius: 12px;
  color: #fff;
  font-family: $font-stack-bold;
  box-shadow: 0px 16px 31px rgba(96, 110, 243, 0.17);
  transition: 0.3s;
}

.btn-catalog::before {
  content: $catalog-white;
  position: relative;
  top: 7px;
  right: 10px;
}

.btn-catalog:hover {
  box-shadow: 0px 16px 31px rgba(96, 110, 243, 0.27);
  transition: 0.3s;
}

.btn-vk-auth {
  padding: 20px 28px;
  border: 1px solid $border-color;
  background: #EBF2FB;
  border-radius: 12px;
  color: $accent-indigo;
  font-family: $font-stack-bold;
  transition: 0.3s;
}

.btn-vk-auth::before {
  content: $auth;
  position: relative;
  top: 7px;
  right: 10px;
}

.btn-vk-auth:hover {
  box-shadow: 0px 16px 31px rgba(96, 110, 243, 0.07);
  transition: 0.3s;
}

.btn-light {
  padding: 16px 22px;
  background: #fff;
  border-radius: 12px;
  font-family: $font-stack-bold;
  color: $secondary-color;
  transition: 0.3s;
}


body {
  font-size: 14px;
  font-family: $font-stack;
  background: #fff;
  margin: 0;
  padding: 0;

}


a {
  text-decoration: none;
}

path {
  fill: inherit;
  stroke: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1580px;
  margin: 0 auto;
}

.main_header {
  background: #fff;
  box-shadow: inset 0px -1px 0px #EBF2FB;
}

.navbar {
  display:flex;
  align-items:center;
  height: 102px;
}

.logo {
  margin-right: 48px;
  font-family: Uni Neue;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #233755;
}

.nav-link {
  color: $secondary-color;
  margin-right: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}